@import '~office-ui-fabric-react/dist/sass/References.scss';

.poll {
  .container {
    width: auto;
    text-align: left;
    background: #FFFFFF;
    max-width: 700px;
    margin: 0px auto;
    padding: 15px;
     border-top: 4px solid #54AEE1;
    //box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  }

  .workingOnItSpinner {
    display: block;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 33.33333%;
    line-height: 1.5em;
    padding: 20px 20px;
  }

  .loadingLabel {
    position: relative;
    top: -25px;
    left: 35px;
  }

  .pollcontainer {
    max-width: 100%;
    margin: 0 auto;
    border: 1px rgba(218, 215, 215, 0.699) solid;
    color: #000;
    padding-bottom: 15px;
  }

  h2.tableCaptionStyle {
    font-family: proxima-nova,arial !important;
    font-size: 17px;
    font-weight: 700;
    /*color: #333333;*/
    color: #54AEE1;
    margin: 0 auto 15px;
    border-bottom: 1px solid #e9e9e9;
    text-transform: uppercase;
    padding-bottom: 5px;
  }

  .panelStyle {
    background: #ffffff;
    margin: 0px auto;
    padding: 15px 20px;
    border-top: 6px solid #0b5861;
  }

  .custom-button {
    outline: none;
    border: 0;
    padding: 8px 20px;
    font-size: 14px;
    color: #ffff !important;
    text-transform: uppercase;
    background: #ed1a3b !important;
  }
}
