@import '~office-ui-fabric-react/dist/sass/References.scss';

.eventDetails {
  .container {
    background: #FFFFFF;
    max-width: 100%;
    margin: 0px auto;
    padding: 10px 20px;
    border-top: 6px solid #944A60;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  }

  h2 {
    font-family: proxima-nova,arial !important;
    font-size: 17px;
    font-weight: 700;
    color: #333333;
    margin: 0 auto 20px;
    border-bottom: 1px solid #e9e9e9;
    text-transform: uppercase;
    padding-bottom: 10px;
  }

  h3 {
    font-family: proxima-nova,arial !important;
    font-size: 17px;
    font-weight: 700;
    color: #333333;
    //  margin: 0 auto;
    margin: 0 auto 20px;
    padding: 0;
    text-transform: uppercase;
  }

  p {
    margin-top: 3px;
    margin-bottom: 0px;
    padding-top: 0px;
    font-family: proxima-nova,arial !important;
    font-weight: 400;
    font-size: 14px;
    color: #333333;
  }

  .floatright {
    float: right;
  }

  .readmore {
    font-size: 14px;
    color: #428bca;
    text-decoration: none;
    display: block;
    font-family: proxima-nova,arial !important;
    font-weight: 400;
    margin-top: 8px;
  }
}
