@import '~office-ui-fabric-react/dist/sass/References.scss';

.keyDocuments {
  .container {
    max-width: 100%;
    margin: 0px auto;
    color: black;
    padding-bottom: 15px;
    border-top: 4px solid #0b5861;
    background: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  }


  .header {
    font-family: proxima-nova,arial !important;
    font-size: 17px;
    font-weight: 700;
    color: #333333;
    padding: 0 0 5px 0;
    border-bottom: 1px solid #e9e9e9;
    text-transform: uppercase;
    margin: 10px 15px 0 15px !important;
  }

  .text {
    color: #428bca;
    font-size: 14px;
    padding-top: 18px;
    font-family: proxima-nova,arial !important;
    display: inline-block;
  }

  .rightalig {
    float: right;
    padding-right: 15px;
    padding-top: 10px;
    color: #000;
    width: 25px;
  }

  .viewAll {
    float: right;
    position: absolute;
    right: 20px;
    bottom: 2px;
  
  }

  .docimg {
    height: 30px;
    width: 40px;
    line-height: 50px;
    margin: 10px 12px 0 10px;
  }

  .docimg img {
    padding-top: 0;
    height: 28px;
    margin: 0 auto;
  }

  .filename a {
    padding-top: 15px;
  }

  .keyblk .ms-Grid-row {
    margin-bottom: 15px !important;
    padding: 0 15px !important;
  }

  .readmore {
    font-size: 14px;
    color: #428bca;
    text-decoration: none;
    display: block;
    font-family: proxima-nova,arial !important;
    font-weight: 400;
    margin-top: 8px;
  }
}
